@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #ffc045;
  --pure: #ffffff;
  --dark: #000000;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}

nav {
  background-color: var(--main);
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.toggler {
  width: 44px;
  height: 34px;
  border-color: white;
  border: none;
  outline: none;
  display: none;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.toggler span {
  height: 2px;
  width: 20px;
  background-color: var(--main);
  display: block;
  margin: auto;
  position: relative;
}
.toggler span::before,
.toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main);
}

.toggler span::after {
  transform: translateY(6px);
}

.toggler span::before {
  transform: translateY(-6px);
}
.toggler.active span {
  background: transparent;
}
.toggler.active span::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.toggler.active span::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.logo img {
  width: 200px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.top img {
  width: 20px;
  margin-right: 4px;
}

.nav-links li {
  display: inline-block;
  margin-left: 2rem;
}
.nav-links li a {
  color: var(--dark);
  font-weight: 600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: #bf2222;
}
/* hero */
section.hero {
  background-color: var(--main);
  padding: 0 4rem;
}
section.hero .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  width: 100%;
  min-height: calc(100vh - 5rem);
}
section.hero .content .text {
  justify-self: start;
}
section.hero .content .text h1 {
  font-size: 8rem;
  text-transform: uppercase;
  text-shadow: 2px 2px white;
}
section.hero .content .text h4 {
  font-size: 3rem;
  text-shadow: 2px 2px white;
}
section.hero .content .text p {
  border: 1px dashed var(--dark);
  max-width: fit-content;
  text-transform: uppercase;
  padding: 0.5rem;
}
section.hero .content .image {
  max-width: fit-content;
  position: relative;

  margin: 0 auto;
}
section.hero .content .image .burger {
  max-width: 300px;
  position: relative;
  z-index: 2;
}
section.hero .content .image .fries {
  max-width: 200px;
  position: absolute;
  bottom: 100px;
  left: -50px;
  z-index: 1;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}
section.hero .content .image .drinks {
  max-width: 120px;
  position: absolute;
  bottom: 0;
  right: -30px;
}
section.hero .content .image .price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #bf2222;
  border: 1px dashed var(--pure);
  position: absolute;
  bottom: -20px;
  left: -10px;
  z-index: 4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
section.hero .content .image .price span {
  color: var(--pure);
  font-weight: 600;
}

/* burger section */

section.burger-section {
  padding: 5rem 0;
}

section.burger-section .items-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
section.burger-section .items-wrapper .item {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
section.burger-section .items-wrapper .item img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
section.burger-section .items-wrapper .item img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
section.burger-section .items-wrapper #item1 {
  grid-row: 1/3;
  position: relative;
}
section.burger-section .items-wrapper #item1 .text,
section.burger-section .items-wrapper #item2 .text,
section.burger-section .items-wrapper #item3 .text {
  position: absolute;
  color: var(--pure);
  text-transform: uppercase;
  line-height: 1.2;
  padding-top: 2rem;
  padding-left: 2rem;
  z-index: 2;
  top: 0;
  left: 0;
}
section.burger-section .items-wrapper #item2 {
  height: 200px;
  position: relative;
}
section.burger-section .items-wrapper #item3 {
  height: 200px;
  position: relative;
}
/* enjoy section */

section.enjoy {
  padding: 5rem 0;
}
section.enjoy .head {
  text-align: center;
}
section.enjoy .head .title {
  text-transform: uppercase;
  padding: 0.5rem;
  background-color: var(--main);
  font-weight: 600;

  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
section.enjoy .head h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 1rem 0;
}
section.enjoy .head p {
  line-height: 1.8;
  margin-bottom: 3rem;
}

section.enjoy .items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
section.enjoy .items-wrapper .item {
  padding: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
section.enjoy .items-wrapper .item:hover {
  box-shadow: 0 0 10px #bf2222;
}
section.enjoy .items-wrapper .item .image img {
  width: 100%;
}

section.enjoy .items-wrapper .item .text {
  text-align: center;
}
section.enjoy .items-wrapper .item .text h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
section.enjoy .items-wrapper .item .text p {
  margin-bottom: 0.5rem;
}
section.enjoy .items-wrapper .item .text .btn {
  padding: 0.6rem 2rem;
  font-weight: 700;
  background-color: #bf2222;
  color: var(--pure);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
section.enjoy .items-wrapper .item .text .btn:hover {
  background-color: var(--main);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* Foodevent */

section.foodevent {
  padding: 5rem 0;
}

section.foodevent .events-wrapper {
  display: flex;
  box-shadow: 5px 5px 10px var(--main);
  padding: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
section.foodevent .events-wrapper:hover {
  box-shadow: 5px 5px 10px #bf2222;
}
section.foodevent .events-wrapper .text {
  flex-basis: 50%;
  color: var(--dark);
}
section.foodevent .events-wrapper .text span {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
section.foodevent .events-wrapper .text h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
section.foodevent .events-wrapper .text p {
  line-height: 1.8;
}
section.foodevent .events-wrapper .image {
  flex-basis: 50%;
  overflow: hidden;
}
section.foodevent .events-wrapper .image img {
  width: 100%;
  height: 100%;
}
/* booktable */
section.booktable {
  padding: 5rem 0;
  position: relative;
}
section.booktable::before {
  content: "";
  position: absolute;
  background-image: url(../images/Burgertable.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: -10px;
  width: 200px;
  height: 200px;
}
section.booktable::after {
  content: "";
  position: absolute;
  background-image: url(../images/plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  right: -50px;
  width: 250px;
  height: 250px;
}
section.booktable .head {
  text-align: center;
  margin-bottom: 2rem;
}
section.booktable .head span {
  font-size: 1.5rem;
  background-color: var(--main);
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
section.booktable .head h1 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 700;
  text-transform: uppercase;
}
section.booktable .table {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
section.booktable .table::before {
  content: "";
  position: absolute;
  background-image: url(../images/Bottle.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  left: -100px;
  width: 200px;
  height: 200px;
}
section.booktable .table form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
section.booktable .table form .form-control {
  width: 100%;
}
section.booktable .table form .form-control input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #bf2222;
}
section.booktable .table form .form-control .btn {
  background-color: #bf2222;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--pure);
  font-weight: 700;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
section.booktable .table form .form-control .btn:hover {
  background-color: var(--main);
}
section.booktable .table form .form-control input:focus {
  outline: solid 2px var(--main);
  border: none;
}

/* footer */

footer.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  padding: 5rem 0;
}
footer.footer .content {
  color: var(--pure);
  text-align: center;
}
footer.footer .content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
footer.footer .content p {
  font-size: 1rem;
  line-height: 1.8;
  max-width: 600px;
  margin: 0 auto;
}

/* media Queries.... */
@media (max-width: 991px) {
  section.hero .content {
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
  }
  section.hero .content .text {
    justify-self: center;
  }
  section.hero .content .text h1 {
    font-size: 5rem;
  }
  section.hero .content .image .burger {
    width: 200px;
  }
  section.hero .content .image .fries {
    width: 100px;
  }
  section.hero .content .image .drinks {
    width: 80px;
  }
  section.hero .content .text h4 {
    font-size: 2rem;
  }
  section.booktable::after {
    width: 200px;
    height: 200px;
  }
  section.booktable::after {
    width: 150px;
    height: 150px;
  }
  section.booktable .table::before {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 767px) {
  .toggler {
    display: block;
  }
  .nav-links {
    width: 100%;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.6s ease;
  }

  .nav-links.open {
    visibility: visible;
  }
  .nav-links li {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 0;
  }
  section.hero .content {
    grid-template-columns: 1fr;
  }
  section.booktable::before {
    width: 150px;
    height: 150px;
  }
  section.hero .content .image {
    padding: 3rem 0;
  }
  section.hero .content .image .price {
    bottom: 30px;
  }
}
@media (max-width: 575px) {
  section.hero .content .text {
    margin: 0;
    padding: 0;
    justify-self: start;
  }
  section.hero .content {
    align-content: start;
  }
  section.hero .content .text h1 {
    font-size: 3rem;
  }
  section.burger-section .items-wrapper {
    grid-template-columns: 1fr;
  }
  section.foodevent .events-wrapper {
    flex-direction: column;
  }
  section.booktable .table form {
    grid-template-columns: 1fr;
  }
  section.booktable::before {
    display: none;
  }
  section.booktable::after {
    display: none;
  }
  section.booktable .table::before {
    display: none;
  }
  section.enjoy .head h1 {
    font-size: 2rem;
  }
  section.foodevent .events-wrapper .text h1 {
    font-size: 2rem;
  }
  section.booktable .head h1 {
    font-size: 2rem;
  }
  footer.footer .content h1 {
    font-size: 2rem;
  }
  section.hero .content .text p {
    font-size: 10px;
  }
}
